{{ define "main" }}
<section class="article-list">
  {{ range where .Site.RegularPages "Section" "articles" }}
    <article>
      <h2><a href="{{ .RelPermalink }}"><span class="text">{{ .Title }}</span></a></h2>
      <div class="meta">
        <span class="date">{{ .Date.Format "2006-01-02" }}</span>
        <div class="tags">
          {{ range .Params.Tags }}
            <span class="tag">{{ . }}</span>
          {{ end }}
        </div>
      </div>
      <p class="summary">{{ htmlUnescape .Summary|plainify|chomp }}</p>
    </article>
  {{ end }}
</section>
{{ end }}
