@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat|Roboto+Mono");

$color-bg-dark: #202020;
$color-bg-normal: #282828;
$color-bg-light: #383838;

$color-fg-dark: #c0c0c0;
$color-fg-normal: #c8c8c8;
$color-fg-light: #d8d8d8;

$color-accent: #E60012;

@import "base/body.scss";
@import "base/links.scss";
@import "base/scrollbars.scss";

@import "components/site-header.scss";
@import "components/article-list.scss";
@import "components/article-single.scss";
@import "components/contact-links.scss";
@import "components/toast.scss";
@import "components/pre-and-code.scss";
@import "components/highlight-eighties.scss";
@import "components/img-link.scss";
@import "components/about-footer.scss";
@import "components/subnet-calculator.scss";
