.article-list {
  article {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-accent;

    &:last-child {
      border-bottom: none;
    }

    h2 {
      margin: 0;
      font: 1.5rem "Montserrat";

      a {
        color: $color-fg-normal;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .meta {
      margin: 10px 0;
      font-size: 0.9rem;
      display: table;

      .date {
        margin-right: 10px;
        font-family: "Roboto Mono";
      }

      .tags {
        display: table-cell;
        vertical-align: middle;

        .tag {
          margin-left: 6px;
          background: $color-bg-light;
          border-radius: 4px;
          padding: 2px 6px;
        }
      }
    }

    .summary {
      margin: 0;
      line-height: 1.4rem;
      font-size: 0.9rem;
    }
  }
}
