code {
  padding: 2px 4px;
  background-color: $color-bg-dark;
  font-family: "Roboto Mono";
}

.highlight {
  margin: 10px 0;
  background-color: $color-bg-dark !important;
  border-radius: 4px;

  pre {
    margin: 0;
    padding: 10px;
    overflow-x: auto;
  }

  code {
    padding: 0;
  }

  td:first-child {
    pre {
      padding-right: 0;
    }
  }

  code {
    font-family: "Roboto Mono" !important;
    font-size: 0.9rem;
  }
}
