.site-header {
  padding: 40px;
  text-align: center;

  .logo {
    font: 3rem "Abril Fatface";

    .dot {
      color: $color-accent;
    }
  }

  nav {
    margin: 10px 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0 10px;
        display: inline-block;

        a {
          display: inline-block;

          padding: 6px 12px;
          color: $color-accent;
          vertical-align: middle;
          font: 1.4rem "Montserrat";
          text-decoration: none;

          &:hover {
            background-color: $color-bg-light;
          }
        }
      }
    }
  }
}
