.toast {
  padding: 14px;
  background-color: $color-bg-dark;
  margin: 12px 0;

  p {
    margin: 0;
  }

  &.danger {
    // border-left: 2px solid #ff4444;
    border-left: 2px solid #CC0000;
  }

  &.warning {
    // border-left: 2px solid #ffbb33;
    border-left: 2px solid #FF8800;
  }

  &.success {
    // border-left: 2px solid #00C851;
    border-left: 2px solid #007E33;
  }

  &.info {
    // border-left: 2px solid #33b5e5;
    border-left: 2px solid #0099CC;
  }
}
